/* General styles */
h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

div {
  text-align: center;
  margin: 0.5rem 0;
}

button {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #cdc5c5;
  cursor: pointer;
  color: #0e0d0d;
}

button.active {
  background-color: #1976d2;
}

/* Ensure the chart has a minimum height on small screens */
.chart-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* Set a minimum height */
  max-height: 85vh;
}

canvas {
  max-width: 100%;
  width: 100% !important;
  height: 100% !important;
}

/* Responsive styles for small screens */
/*@media (max-width: 600px) {*/
/*  h2 {*/
/*    font-size: 1.2rem;*/
/*  }*/

/*  div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*  }*/

/*  button {*/
/*    width: 90%;*/
/*    font-size: 0.9rem;*/
/*  }*/

/*  canvas {*/
/*    max-width: 100%;*/
/*    height: auto !important;;*/
/*  }*/
/*}*/

@media (max-width: 600px) and (orientation: portrait) {
    /*div {*/
    /*  display: flex;*/
    /*  flex-direction: column;*/
    /*  align-items: center;*/
    /*}*/

    /*button {*/
    /*  width: 90%;*/
    /*  font-size: 0.9rem;*/
    /*}*/
  .chart-container {
    min-height: 50vh; /* Set minimum height to 50% of the viewport height */
    max-height: 70vh;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
    chart-container {
    min-height: 30vh; /* Set minimum height to 50% of the viewport height */
    max-height: 70vh;
  }
}
